DW4JLib/xml-resources/web-service-references/Documento/wsdl/localhost_8080/DW4JServicios/Documento.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://documento.develcom.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://documento.develcom.com/" name="Documento">
<types>
<xsd:schema>
<xsd:import namespace="http://documento.develcom.com/" schemaLocation="http://localhost:8080/DW4JServicios/Documento?xsd=1" />
</xsd:schema>
</types>
<message name="buscarInformacionDocumento">
<part name="parameters" element="tns:buscarInformacionDocumento" />
</message>
<message name="buscarInformacionDocumentoResponse">
<part name="parameters" element="tns:buscarInformacionDocumentoResponse" />
</message>
<message name="buscarValorDatoAdicional">
<part name="parameters" element="tns:buscarValorDatoAdicional" />
</message>
<message name="buscarValorDatoAdicionalResponse">
<part name="parameters" element="tns:buscarValorDatoAdicionalResponse" />
</message>
<message name="buscarUltimaVersionDoc">
<part name="parameters" element="tns:buscarUltimaVersionDoc" />
</message>
<message name="buscarUltimaVersionDocResponse">
<part name="parameters" element="tns:buscarUltimaVersionDocResponse" />
</message>
<portType name="Documento">
<operation name="buscarInformacionDocumento">
<input wsam:Action="http://documento.develcom.com/Documento/buscarInformacionDocumentoRequest" message="tns:buscarInformacionDocumento" />
<output wsam:Action="http://documento.develcom.com/Documento/buscarInformacionDocumentoResponse" message="tns:buscarInformacionDocumentoResponse" />
</operation>
<operation name="buscarValorDatoAdicional">
<input wsam:Action="http://documento.develcom.com/Documento/buscarValorDatoAdicionalRequest" message="tns:buscarValorDatoAdicional" />
<output wsam:Action="http://documento.develcom.com/Documento/buscarValorDatoAdicionalResponse" message="tns:buscarValorDatoAdicionalResponse" />
</operation>
<operation name="buscarUltimaVersionDoc">
<input wsam:Action="http://documento.develcom.com/Documento/buscarUltimaVersionDocRequest" message="tns:buscarUltimaVersionDoc" />
<output wsam:Action="http://documento.develcom.com/Documento/buscarUltimaVersionDocResponse" message="tns:buscarUltimaVersionDocResponse" />
</operation>
</portType>
<binding name="DocumentoPortBinding" type="tns:Documento">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="buscarInformacionDocumento">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="buscarValorDatoAdicional">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="buscarUltimaVersionDoc">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="Documento">
<port name="DocumentoPort" binding="tns:DocumentoPortBinding">
<soap:address location="http://localhost:8080/DW4JServicios/Documento" />
</port>
</service>
</definitions>