DW4JLib/xml-resources/web-service-references/AdministracionModifica/wsdl/localhost_8080/DW4JServicios/AdministracionModifica.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://administracion.develcom.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://administracion.develcom.com/" name="AdministracionModifica">
<types>
<xsd:schema>
<xsd:import namespace="http://administracion.develcom.com/" schemaLocation="http://localhost:8080/DW4JServicios/AdministracionModifica?xsd=1" />
</xsd:schema>
</types>
<message name="modificarLibreria">
<part name="parameters" element="tns:modificarLibreria" />
</message>
<message name="modificarLibreriaResponse">
<part name="parameters" element="tns:modificarLibreriaResponse" />
</message>
<message name="modificarCategoria">
<part name="parameters" element="tns:modificarCategoria" />
</message>
<message name="modificarCategoriaResponse">
<part name="parameters" element="tns:modificarCategoriaResponse" />
</message>
<message name="modificarSubCategoria">
<part name="parameters" element="tns:modificarSubCategoria" />
</message>
<message name="modificarSubCategoriaResponse">
<part name="parameters" element="tns:modificarSubCategoriaResponse" />
</message>
<message name="modificarPerfil">
<part name="parameters" element="tns:modificarPerfil" />
</message>
<message name="modificarPerfilResponse">
<part name="parameters" element="tns:modificarPerfilResponse" />
</message>
<message name="modificarTipoDocumento">
<part name="parameters" element="tns:modificarTipoDocumento" />
</message>
<message name="modificarTipoDocumentoResponse">
<part name="parameters" element="tns:modificarTipoDocumentoResponse" />
</message>
<message name="modificarDatosCombo">
<part name="parameters" element="tns:modificarDatosCombo" />
</message>
<message name="modificarDatosComboResponse">
<part name="parameters" element="tns:modificarDatosComboResponse" />
</message>
<message name="modificarTipoDocumentoFoto">
<part name="parameters" element="tns:modificarTipoDocumentoFoto" />
</message>
<message name="modificarTipoDocumentoFotoResponse">
<part name="parameters" element="tns:modificarTipoDocumentoFotoResponse" />
</message>
<portType name="AdministracionModifica">
<operation name="modificarLibreria">
<input wsam:Action="http://administracion.develcom.com/AdministracionModifica/modificarLibreriaRequest" message="tns:modificarLibreria" />
<output wsam:Action="http://administracion.develcom.com/AdministracionModifica/modificarLibreriaResponse" message="tns:modificarLibreriaResponse" />
</operation>
<operation name="modificarCategoria">
<input wsam:Action="http://administracion.develcom.com/AdministracionModifica/modificarCategoriaRequest" message="tns:modificarCategoria" />
<output wsam:Action="http://administracion.develcom.com/AdministracionModifica/modificarCategoriaResponse" message="tns:modificarCategoriaResponse" />
</operation>
<operation name="modificarSubCategoria">
<input wsam:Action="http://administracion.develcom.com/AdministracionModifica/modificarSubCategoriaRequest" message="tns:modificarSubCategoria" />
<output wsam:Action="http://administracion.develcom.com/AdministracionModifica/modificarSubCategoriaResponse" message="tns:modificarSubCategoriaResponse" />
</operation>
<operation name="modificarPerfil">
<input wsam:Action="http://administracion.develcom.com/AdministracionModifica/modificarPerfilRequest" message="tns:modificarPerfil" />
<output wsam:Action="http://administracion.develcom.com/AdministracionModifica/modificarPerfilResponse" message="tns:modificarPerfilResponse" />
</operation>
<operation name="modificarTipoDocumento">
<input wsam:Action="http://administracion.develcom.com/AdministracionModifica/modificarTipoDocumentoRequest" message="tns:modificarTipoDocumento" />
<output wsam:Action="http://administracion.develcom.com/AdministracionModifica/modificarTipoDocumentoResponse" message="tns:modificarTipoDocumentoResponse" />
</operation>
<operation name="modificarDatosCombo">
<input wsam:Action="http://administracion.develcom.com/AdministracionModifica/modificarDatosComboRequest" message="tns:modificarDatosCombo" />
<output wsam:Action="http://administracion.develcom.com/AdministracionModifica/modificarDatosComboResponse" message="tns:modificarDatosComboResponse" />
</operation>
<operation name="modificarTipoDocumentoFoto">
<input wsam:Action="http://administracion.develcom.com/AdministracionModifica/modificarTipoDocumentoFotoRequest" message="tns:modificarTipoDocumentoFoto" />
<output wsam:Action="http://administracion.develcom.com/AdministracionModifica/modificarTipoDocumentoFotoResponse" message="tns:modificarTipoDocumentoFotoResponse" />
</operation>
</portType>
<binding name="AdministracionModificaPortBinding" type="tns:AdministracionModifica">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="modificarLibreria">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="modificarCategoria">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="modificarSubCategoria">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="modificarPerfil">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="modificarTipoDocumento">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="modificarDatosCombo">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="modificarTipoDocumentoFoto">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="AdministracionModifica">
<port name="AdministracionModificaPort" binding="tns:AdministracionModificaPortBinding">
<soap:address location="http://localhost:8080/DW4JServicios/AdministracionModifica" />
</port>
</service>
</definitions>