ServicioDW4J/src/wsdl/localhost_8080/DW4JServicios/AdministracionBusquedas.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://administracion.develcom.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://administracion.develcom.com/" name="AdministracionBusquedas">
<types>
<xsd:schema>
<xsd:import namespace="http://administracion.develcom.com/" schemaLocation="http://localhost:8080/DW4JServicios/AdministracionBusquedas?xsd=1" />
</xsd:schema>
</types>
<message name="comprobarUsuario">
<part name="parameters" element="tns:comprobarUsuario" />
</message>
<message name="comprobarUsuarioResponse">
<part name="parameters" element="tns:comprobarUsuarioResponse" />
</message>
<message name="buscarSubCategorias">
<part name="parameters" element="tns:buscarSubCategorias" />
</message>
<message name="buscarSubCategoriasResponse">
<part name="parameters" element="tns:buscarSubCategoriasResponse" />
</message>
<message name="buscarLibreriasCategorias">
<part name="parameters" element="tns:buscarLibreriasCategorias" />
</message>
<message name="buscarLibreriasCategoriasResponse">
<part name="parameters" element="tns:buscarLibreriasCategoriasResponse" />
</message>
<message name="buscarTiposDocumentos">
<part name="parameters" element="tns:buscarTiposDocumentos" />
</message>
<message name="buscarTiposDocumentosResponse">
<part name="parameters" element="tns:buscarTiposDocumentosResponse" />
</message>
<message name="buscarCategorias">
<part name="parameters" element="tns:buscarCategorias" />
</message>
<message name="buscarCategoriasResponse">
<part name="parameters" element="tns:buscarCategoriasResponse" />
</message>
<message name="buscarLibrerias">
<part name="parameters" element="tns:buscarLibrerias" />
</message>
<message name="buscarLibreriasResponse">
<part name="parameters" element="tns:buscarLibreriasResponse" />
</message>
<message name="buscarIndiceDatoAdicional">
<part name="parameters" element="tns:buscarIndiceDatoAdicional" />
</message>
<message name="buscarIndiceDatoAdicionalResponse">
<part name="parameters" element="tns:buscarIndiceDatoAdicionalResponse" />
</message>
<message name="buscarDatosCombo">
<part name="parameters" element="tns:buscarDatosCombo" />
</message>
<message name="buscarDatosComboResponse">
<part name="parameters" element="tns:buscarDatosComboResponse" />
</message>
<message name="buscarPerfil">
<part name="parameters" element="tns:buscarPerfil" />
</message>
<message name="buscarPerfilResponse">
<part name="parameters" element="tns:buscarPerfilResponse" />
</message>
<message name="buscarIndices">
<part name="parameters" element="tns:buscarIndices" />
</message>
<message name="buscarIndicesResponse">
<part name="parameters" element="tns:buscarIndicesResponse" />
</message>
<portType name="AdministracionBusquedas">
<operation name="comprobarUsuario">
<input wsam:Action="http://administracion.develcom.com/AdministracionBusquedas/comprobarUsuarioRequest" message="tns:comprobarUsuario" />
<output wsam:Action="http://administracion.develcom.com/AdministracionBusquedas/comprobarUsuarioResponse" message="tns:comprobarUsuarioResponse" />
</operation>
<operation name="buscarSubCategorias">
<input wsam:Action="http://administracion.develcom.com/AdministracionBusquedas/buscarSubCategoriasRequest" message="tns:buscarSubCategorias" />
<output wsam:Action="http://administracion.develcom.com/AdministracionBusquedas/buscarSubCategoriasResponse" message="tns:buscarSubCategoriasResponse" />
</operation>
<operation name="buscarLibreriasCategorias">
<input wsam:Action="http://administracion.develcom.com/AdministracionBusquedas/buscarLibreriasCategoriasRequest" message="tns:buscarLibreriasCategorias" />
<output wsam:Action="http://administracion.develcom.com/AdministracionBusquedas/buscarLibreriasCategoriasResponse" message="tns:buscarLibreriasCategoriasResponse" />
</operation>
<operation name="buscarTiposDocumentos">
<input wsam:Action="http://administracion.develcom.com/AdministracionBusquedas/buscarTiposDocumentosRequest" message="tns:buscarTiposDocumentos" />
<output wsam:Action="http://administracion.develcom.com/AdministracionBusquedas/buscarTiposDocumentosResponse" message="tns:buscarTiposDocumentosResponse" />
</operation>
<operation name="buscarCategorias">
<input wsam:Action="http://administracion.develcom.com/AdministracionBusquedas/buscarCategoriasRequest" message="tns:buscarCategorias" />
<output wsam:Action="http://administracion.develcom.com/AdministracionBusquedas/buscarCategoriasResponse" message="tns:buscarCategoriasResponse" />
</operation>
<operation name="buscarLibrerias">
<input wsam:Action="http://administracion.develcom.com/AdministracionBusquedas/buscarLibreriasRequest" message="tns:buscarLibrerias" />
<output wsam:Action="http://administracion.develcom.com/AdministracionBusquedas/buscarLibreriasResponse" message="tns:buscarLibreriasResponse" />
</operation>
<operation name="buscarIndiceDatoAdicional">
<input wsam:Action="http://administracion.develcom.com/AdministracionBusquedas/buscarIndiceDatoAdicionalRequest" message="tns:buscarIndiceDatoAdicional" />
<output wsam:Action="http://administracion.develcom.com/AdministracionBusquedas/buscarIndiceDatoAdicionalResponse" message="tns:buscarIndiceDatoAdicionalResponse" />
</operation>
<operation name="buscarDatosCombo">
<input wsam:Action="http://administracion.develcom.com/AdministracionBusquedas/buscarDatosComboRequest" message="tns:buscarDatosCombo" />
<output wsam:Action="http://administracion.develcom.com/AdministracionBusquedas/buscarDatosComboResponse" message="tns:buscarDatosComboResponse" />
</operation>
<operation name="buscarPerfil">
<input wsam:Action="http://administracion.develcom.com/AdministracionBusquedas/buscarPerfilRequest" message="tns:buscarPerfil" />
<output wsam:Action="http://administracion.develcom.com/AdministracionBusquedas/buscarPerfilResponse" message="tns:buscarPerfilResponse" />
</operation>
<operation name="buscarIndices">
<input wsam:Action="http://administracion.develcom.com/AdministracionBusquedas/buscarIndicesRequest" message="tns:buscarIndices" />
<output wsam:Action="http://administracion.develcom.com/AdministracionBusquedas/buscarIndicesResponse" message="tns:buscarIndicesResponse" />
</operation>
</portType>
<binding name="AdministracionBusquedasPortBinding" type="tns:AdministracionBusquedas">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="comprobarUsuario">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="buscarSubCategorias">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="buscarLibreriasCategorias">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="buscarTiposDocumentos">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="buscarCategorias">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="buscarLibrerias">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="buscarIndiceDatoAdicional">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="buscarDatosCombo">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="buscarPerfil">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="buscarIndices">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="AdministracionBusquedas">
<port name="AdministracionBusquedasPort" binding="tns:AdministracionBusquedasPortBinding">
<soap:address location="http://localhost:8080/DW4JServicios/AdministracionBusquedas" />
</port>
</service>
</definitions>