ServicioDW4J/src/wsdl/localhost_8080/DW4JServicios/Archivo.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://documento.develcom.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://documento.develcom.com/">

<xs:element name="bufer" type="tns:bufer" />

<xs:element name="buscarBuferArchivo" type="tns:buscarBuferArchivo" />

<xs:element name="buscarBuferArchivoResponse" type="tns:buscarBuferArchivoResponse" />

<xs:element name="buscarFisicoDocumento" type="tns:buscarFisicoDocumento" />

<xs:element name="buscarFisicoDocumentoResponse" type="tns:buscarFisicoDocumentoResponse" />

<xs:element name="guardarArchivo" type="tns:guardarArchivo" />

<xs:element name="guardarArchivoResponse" type="tns:guardarArchivoResponse" />

<xs:element name="guardarDatosAdicionales" type="tns:guardarDatosAdicionales" />

<xs:element name="guardarDatosAdicionalesResponse" type="tns:guardarDatosAdicionalesResponse" />

<xs:element name="reemplazarArchivo" type="tns:reemplazarArchivo" />

<xs:element name="reemplazarArchivoResponse" type="tns:reemplazarArchivoResponse" />

<xs:complexType name="buscarFisicoDocumento">
<xs:sequence>
<xs:element name="idInfoDocumento" type="xs:int" />
<xs:element name="idDocumento" type="xs:int" />
<xs:element name="idCategoria" type="xs:int" />
<xs:element name="idSubCategoria" type="xs:int" />
<xs:element name="version" type="xs:int" />
<xs:element name="numeroDocumento" type="xs:int" />
<xs:element name="idExpediente" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarFisicoDocumentoResponse">
<xs:sequence>
<xs:element name="return" type="tns:infoDocumento" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="infoDocumento">
<xs:sequence>
<xs:element name="cantPaginas" type="xs:int" />
<xs:element name="causaRechazo" type="xs:string" minOccurs="0" />
<xs:element name="datoAdicional" type="xs:string" minOccurs="0" />
<xs:element name="estatus" type="xs:int" />
<xs:element name="estatusDocumento" type="xs:string" minOccurs="0" />
<xs:element name="fechaActual" type="xs:dateTime" minOccurs="0" />
<xs:element name="fechaAprobacion" type="xs:dateTime" minOccurs="0" />
<xs:element name="fechaDigitalizacion" type="xs:dateTime" minOccurs="0" />
<xs:element name="fechaRechazo" type="xs:dateTime" minOccurs="0" />
<xs:element name="fechaVencimiento" type="xs:dateTime" minOccurs="0" />
<xs:element name="folio" type="xs:int" />
<xs:element name="formato" type="xs:string" minOccurs="0" />
<xs:element name="idDocumento" type="xs:int" />
<xs:element name="idExpediente" type="xs:string" minOccurs="0" />
<xs:element name="idInfoDocumento" type="xs:int" />
<xs:element name="lsDatosAdicionales" type="tns:datoAdicional" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="motivoRechazo" type="xs:string" minOccurs="0" />
<xs:element name="nombreArchivo" type="xs:string" minOccurs="0" />
<xs:element name="nuevo" type="xs:boolean" />
<xs:element name="numeroDocumento" type="xs:int" />
<xs:element name="reDigitalizo" type="xs:boolean" />
<xs:element name="rutaArchivo" type="xs:string" minOccurs="0" />
<xs:element name="tipoDocDatoAdicional" type="xs:boolean" />
<xs:element name="tipoDocumento" type="xs:string" minOccurs="0" />
<xs:element name="usuarioAprobacion" type="xs:string" minOccurs="0" />
<xs:element name="usuarioDigitalizo" type="xs:string" minOccurs="0" />
<xs:element name="usuarioRechazo" type="xs:string" minOccurs="0" />
<xs:element name="version" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="datoAdicional">
<xs:sequence>
<xs:element name="codigo" type="xs:int" />
<xs:element name="idDatoAdicional" type="xs:int" />
<xs:element name="idTipoDocumento" type="xs:int" />
<xs:element name="idValor" type="xs:int" />
<xs:element name="indiceDatoAdicional" type="xs:string" minOccurs="0" />
<xs:element name="numeroDocumento" type="xs:int" />
<xs:element name="tipo" type="xs:string" minOccurs="0" />
<xs:element name="valor" type="xs:anyType" minOccurs="0" />
<xs:element name="version" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="guardarDatosAdicionales">
<xs:sequence>
<xs:element name="arg0" type="tns:datoAdicional" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="arg1" type="xs:string" minOccurs="0" />
<xs:element name="arg2" type="xs:string" minOccurs="0" />
<xs:element name="arg3" type="xs:boolean" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="guardarDatosAdicionalesResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="reemplazarArchivo">
<xs:sequence>
<xs:element name="buffer" type="tns:bufer" minOccurs="0" />
<xs:element name="accion" type="xs:string" minOccurs="0" />
<xs:element name="infoDocumento" type="tns:infoDocumento" minOccurs="0" />
<xs:element name="expediente" type="xs:string" minOccurs="0" />
<xs:element name="usuario" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="bufer">
<xs:sequence>
<xs:element name="bufer" type="xs:base64Binary" minOccurs="0" />
<xs:element name="existe" type="xs:boolean" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="reemplazarArchivoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarBuferArchivo">
<xs:sequence>
<xs:element name="ruta" type="xs:string" minOccurs="0" />
<xs:element name="archivo" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarBuferArchivoResponse">
<xs:sequence>
<xs:element name="return" type="tns:bufer" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="guardarArchivo">
<xs:sequence>
<xs:element name="buffer" type="tns:bufer" minOccurs="0" />
<xs:element name="accion" type="xs:string" minOccurs="0" />
<xs:element name="infoDocumento" type="tns:infoDocumento" minOccurs="0" />
<xs:element name="expediente" type="xs:string" minOccurs="0" />
<xs:element name="usuario" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="guardarArchivoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>