ServicioDW4J/src/wsdl/localhost_8080/DW4JServicios/Archivo.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://documento.develcom.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://documento.develcom.com/" name="Archivo">
<types>
<xsd:schema>
<xsd:import namespace="http://documento.develcom.com/" schemaLocation="http://localhost:8080/DW4JServicios/Archivo?xsd=1" />
</xsd:schema>
</types>
<message name="buscarBuferArchivo">
<part name="parameters" element="tns:buscarBuferArchivo" />
</message>
<message name="buscarBuferArchivoResponse">
<part name="parameters" element="tns:buscarBuferArchivoResponse" />
</message>
<message name="guardarArchivo">
<part name="parameters" element="tns:guardarArchivo" />
</message>
<message name="guardarArchivoResponse">
<part name="parameters" element="tns:guardarArchivoResponse" />
</message>
<message name="buscarFisicoDocumento">
<part name="parameters" element="tns:buscarFisicoDocumento" />
</message>
<message name="buscarFisicoDocumentoResponse">
<part name="parameters" element="tns:buscarFisicoDocumentoResponse" />
</message>
<message name="reemplazarArchivo">
<part name="parameters" element="tns:reemplazarArchivo" />
</message>
<message name="reemplazarArchivoResponse">
<part name="parameters" element="tns:reemplazarArchivoResponse" />
</message>
<message name="guardarDatosAdicionales">
<part name="parameters" element="tns:guardarDatosAdicionales" />
</message>
<message name="guardarDatosAdicionalesResponse">
<part name="parameters" element="tns:guardarDatosAdicionalesResponse" />
</message>
<portType name="Archivo">
<operation name="buscarBuferArchivo">
<input wsam:Action="http://documento.develcom.com/Archivo/buscarBuferArchivoRequest" message="tns:buscarBuferArchivo" />
<output wsam:Action="http://documento.develcom.com/Archivo/buscarBuferArchivoResponse" message="tns:buscarBuferArchivoResponse" />
</operation>
<operation name="guardarArchivo">
<input wsam:Action="http://documento.develcom.com/Archivo/guardarArchivoRequest" message="tns:guardarArchivo" />
<output wsam:Action="http://documento.develcom.com/Archivo/guardarArchivoResponse" message="tns:guardarArchivoResponse" />
</operation>
<operation name="buscarFisicoDocumento">
<input wsam:Action="http://documento.develcom.com/Archivo/buscarFisicoDocumentoRequest" message="tns:buscarFisicoDocumento" />
<output wsam:Action="http://documento.develcom.com/Archivo/buscarFisicoDocumentoResponse" message="tns:buscarFisicoDocumentoResponse" />
</operation>
<operation name="reemplazarArchivo">
<input wsam:Action="http://documento.develcom.com/Archivo/reemplazarArchivoRequest" message="tns:reemplazarArchivo" />
<output wsam:Action="http://documento.develcom.com/Archivo/reemplazarArchivoResponse" message="tns:reemplazarArchivoResponse" />
</operation>
<operation name="guardarDatosAdicionales">
<input wsam:Action="http://documento.develcom.com/Archivo/guardarDatosAdicionalesRequest" message="tns:guardarDatosAdicionales" />
<output wsam:Action="http://documento.develcom.com/Archivo/guardarDatosAdicionalesResponse" message="tns:guardarDatosAdicionalesResponse" />
</operation>
</portType>
<binding name="ArchivoPortBinding" type="tns:Archivo">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="buscarBuferArchivo">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="guardarArchivo">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="buscarFisicoDocumento">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="reemplazarArchivo">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="guardarDatosAdicionales">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="Archivo">
<port name="ArchivoPort" binding="tns:ArchivoPortBinding">
<soap:address location="http://localhost:8080/DW4JServicios/Archivo" />
</port>
</service>
</definitions>