DW4JLib/xml-resources/web-service-references/AdministracionAgregar/wsdl/localhost_8080/DW4JServicios/AdministracionAgregar.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://administracion.develcom.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://administracion.develcom.com/">

<xs:element name="agregarCategoria" type="tns:agregarCategoria" />

<xs:element name="agregarCategoriaResponse" type="tns:agregarCategoriaResponse" />

<xs:element name="agregarIndiceDatoAdicional" type="tns:agregarIndiceDatoAdicional" />

<xs:element name="agregarIndiceDatoAdicionalResponse" type="tns:agregarIndiceDatoAdicionalResponse" />

<xs:element name="agregarIndices" type="tns:agregarIndices" />

<xs:element name="agregarIndicesResponse" type="tns:agregarIndicesResponse" />

<xs:element name="agregarLibreria" type="tns:agregarLibreria" />

<xs:element name="agregarLibreriaResponse" type="tns:agregarLibreriaResponse" />

<xs:element name="agregarListaDesplegables" type="tns:agregarListaDesplegables" />

<xs:element name="agregarListaDesplegablesResponse" type="tns:agregarListaDesplegablesResponse" />

<xs:element name="agregarPerfil" type="tns:agregarPerfil" />

<xs:element name="agregarPerfilResponse" type="tns:agregarPerfilResponse" />

<xs:element name="agregarSubCategoria" type="tns:agregarSubCategoria" />

<xs:element name="agregarSubCategoriaResponse" type="tns:agregarSubCategoriaResponse" />

<xs:element name="agregarTipoDocumento" type="tns:agregarTipoDocumento" />

<xs:element name="agregarTipoDocumentoResponse" type="tns:agregarTipoDocumentoResponse" />

<xs:complexType name="agregarPerfil">
<xs:sequence>
<xs:element name="perfil" type="tns:perfil" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="perfil">
<xs:sequence>
<xs:element name="categoria" type="tns:categoria" minOccurs="0" />
<xs:element name="estatus" type="xs:int" />
<xs:element name="fabrica" type="tns:fabrica" minOccurs="0" />
<xs:element name="indice" type="tns:indice" minOccurs="0" />
<xs:element name="libreria" type="tns:libreria" minOccurs="0" />
<xs:element name="rol" type="tns:rol" minOccurs="0" />
<xs:element name="subCategoria" type="tns:subCategoria" minOccurs="0" />
<xs:element name="tipoDocumento" type="tns:tipoDocumento" minOccurs="0" />
<xs:element name="usuario" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="categoria">
<xs:sequence>
<xs:element name="categoria" type="xs:string" minOccurs="0" />
<xs:element name="estatus" type="xs:string" minOccurs="0" />
<xs:element name="idCategoria" type="xs:int" />
<xs:element name="lstIndices" type="tns:indice" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="indice">
<xs:complexContent>
<xs:extension base="tns:indices">
<xs:sequence>
<xs:element name="updateIndices" type="xs:boolean" />
<xs:element name="valor" type="xs:anyType" minOccurs="0" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="indices">
<xs:sequence>
<xs:element name="clave" type="xs:string" minOccurs="0" />
<xs:element name="codigo" type="xs:int" />
<xs:element name="idCategoria" type="xs:int" />
<xs:element name="idIndice" type="xs:int" />
<xs:element name="indice" type="xs:string" minOccurs="0" />
<xs:element name="tipo" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="fabrica">
<xs:sequence>
<xs:element name="pertenece" type="xs:boolean" />
<xs:element name="usuario" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="libreria">
<xs:sequence>
<xs:element name="descripcion" type="xs:string" minOccurs="0" />
<xs:element name="estatus" type="xs:string" minOccurs="0" />
<xs:element name="idLibreria" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="rol">
<xs:sequence>
<xs:element name="idRol" type="xs:int" />
<xs:element name="rol" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="subCategoria">
<xs:sequence>
<xs:element name="estatus" type="xs:string" minOccurs="0" />
<xs:element name="idCategoria" type="xs:int" />
<xs:element name="idSubCategoria" type="xs:int" />
<xs:element name="listaTipoDocumentos" type="tns:tipoDocumento" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="subCategoria" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="tipoDocumento">
<xs:sequence>
<xs:element name="datoAdicional" type="xs:string" minOccurs="0" />
<xs:element name="estatus" type="xs:string" minOccurs="0" />
<xs:element name="ficha" type="xs:string" minOccurs="0" />
<xs:element name="idCategoria" type="xs:int" />
<xs:element name="idSubCategoria" type="xs:int" />
<xs:element name="idTipoDocumento" type="xs:int" />
<xs:element name="tipoDocumento" type="xs:string" minOccurs="0" />
<xs:element name="vencimiento" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="agregarPerfilResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="agregarListaDesplegables">
<xs:sequence>
<xs:element name="listaDesplegable" type="tns:combo" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="bandera" type="xs:boolean" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="combo">
<xs:sequence>
<xs:element name="codigoIndice" type="xs:int" />
<xs:element name="datoCombo" type="xs:string" minOccurs="0" />
<xs:element name="idCombo" type="xs:int" />
<xs:element name="indice" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="agregarListaDesplegablesResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="agregarTipoDocumento">
<xs:sequence>
<xs:element name="tipodocumentos" type="tns:perfil" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="agregarTipoDocumentoResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="agregarLibreria">
<xs:sequence>
<xs:element name="librerias" type="tns:libreria" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="agregarLibreriaResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="agregarCategoria">
<xs:sequence>
<xs:element name="categorias" type="tns:perfil" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="agregarCategoriaResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="agregarIndiceDatoAdicional">
<xs:sequence>
<xs:element name="indiceDatos" type="tns:datoAdicional" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="datoAdicional">
<xs:sequence>
<xs:element name="codigo" type="xs:int" />
<xs:element name="idDatoAdicional" type="xs:int" />
<xs:element name="idTipoDocumento" type="xs:int" />
<xs:element name="idValor" type="xs:int" />
<xs:element name="indiceDatoAdicional" type="xs:string" minOccurs="0" />
<xs:element name="numeroDocumento" type="xs:int" />
<xs:element name="tipo" type="xs:string" minOccurs="0" />
<xs:element name="valor" type="xs:anyType" minOccurs="0" />
<xs:element name="version" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="agregarIndiceDatoAdicionalResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="agregarSubCategoria">
<xs:sequence>
<xs:element name="subCategorias" type="tns:perfil" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="agregarSubCategoriaResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="agregarIndices">
<xs:sequence>
<xs:element name="argumentos" type="tns:indice" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="agregarIndicesResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>
</xs:schema>