DW4JLib/xml-resources/web-service-references/AdministracionAgregar/wsdl/localhost_8080/DW4JServicios/AdministracionAgregar.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://administracion.develcom.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://administracion.develcom.com/" name="AdministracionAgregar">
<types>
<xsd:schema>
<xsd:import namespace="http://administracion.develcom.com/" schemaLocation="http://localhost:8080/DW4JServicios/AdministracionAgregar?xsd=1" />
</xsd:schema>
</types>
<message name="agregarLibreria">
<part name="parameters" element="tns:agregarLibreria" />
</message>
<message name="agregarLibreriaResponse">
<part name="parameters" element="tns:agregarLibreriaResponse" />
</message>
<message name="agregarCategoria">
<part name="parameters" element="tns:agregarCategoria" />
</message>
<message name="agregarCategoriaResponse">
<part name="parameters" element="tns:agregarCategoriaResponse" />
</message>
<message name="agregarSubCategoria">
<part name="parameters" element="tns:agregarSubCategoria" />
</message>
<message name="agregarSubCategoriaResponse">
<part name="parameters" element="tns:agregarSubCategoriaResponse" />
</message>
<message name="agregarTipoDocumento">
<part name="parameters" element="tns:agregarTipoDocumento" />
</message>
<message name="agregarTipoDocumentoResponse">
<part name="parameters" element="tns:agregarTipoDocumentoResponse" />
</message>
<message name="agregarIndices">
<part name="parameters" element="tns:agregarIndices" />
</message>
<message name="agregarIndicesResponse">
<part name="parameters" element="tns:agregarIndicesResponse" />
</message>
<message name="agregarListaDesplegables">
<part name="parameters" element="tns:agregarListaDesplegables" />
</message>
<message name="agregarListaDesplegablesResponse">
<part name="parameters" element="tns:agregarListaDesplegablesResponse" />
</message>
<message name="agregarIndiceDatoAdicional">
<part name="parameters" element="tns:agregarIndiceDatoAdicional" />
</message>
<message name="agregarIndiceDatoAdicionalResponse">
<part name="parameters" element="tns:agregarIndiceDatoAdicionalResponse" />
</message>
<message name="agregarPerfil">
<part name="parameters" element="tns:agregarPerfil" />
</message>
<message name="agregarPerfilResponse">
<part name="parameters" element="tns:agregarPerfilResponse" />
</message>
<portType name="AdministracionAgregar">
<operation name="agregarLibreria">
<input wsam:Action="http://administracion.develcom.com/AdministracionAgregar/agregarLibreriaRequest" message="tns:agregarLibreria" />
<output wsam:Action="http://administracion.develcom.com/AdministracionAgregar/agregarLibreriaResponse" message="tns:agregarLibreriaResponse" />
</operation>
<operation name="agregarCategoria">
<input wsam:Action="http://administracion.develcom.com/AdministracionAgregar/agregarCategoriaRequest" message="tns:agregarCategoria" />
<output wsam:Action="http://administracion.develcom.com/AdministracionAgregar/agregarCategoriaResponse" message="tns:agregarCategoriaResponse" />
</operation>
<operation name="agregarSubCategoria">
<input wsam:Action="http://administracion.develcom.com/AdministracionAgregar/agregarSubCategoriaRequest" message="tns:agregarSubCategoria" />
<output wsam:Action="http://administracion.develcom.com/AdministracionAgregar/agregarSubCategoriaResponse" message="tns:agregarSubCategoriaResponse" />
</operation>
<operation name="agregarTipoDocumento">
<input wsam:Action="http://administracion.develcom.com/AdministracionAgregar/agregarTipoDocumentoRequest" message="tns:agregarTipoDocumento" />
<output wsam:Action="http://administracion.develcom.com/AdministracionAgregar/agregarTipoDocumentoResponse" message="tns:agregarTipoDocumentoResponse" />
</operation>
<operation name="agregarIndices">
<input wsam:Action="http://administracion.develcom.com/AdministracionAgregar/agregarIndicesRequest" message="tns:agregarIndices" />
<output wsam:Action="http://administracion.develcom.com/AdministracionAgregar/agregarIndicesResponse" message="tns:agregarIndicesResponse" />
</operation>
<operation name="agregarListaDesplegables">
<input wsam:Action="http://administracion.develcom.com/AdministracionAgregar/agregarListaDesplegablesRequest" message="tns:agregarListaDesplegables" />
<output wsam:Action="http://administracion.develcom.com/AdministracionAgregar/agregarListaDesplegablesResponse" message="tns:agregarListaDesplegablesResponse" />
</operation>
<operation name="agregarIndiceDatoAdicional">
<input wsam:Action="http://administracion.develcom.com/AdministracionAgregar/agregarIndiceDatoAdicionalRequest" message="tns:agregarIndiceDatoAdicional" />
<output wsam:Action="http://administracion.develcom.com/AdministracionAgregar/agregarIndiceDatoAdicionalResponse" message="tns:agregarIndiceDatoAdicionalResponse" />
</operation>
<operation name="agregarPerfil">
<input wsam:Action="http://administracion.develcom.com/AdministracionAgregar/agregarPerfilRequest" message="tns:agregarPerfil" />
<output wsam:Action="http://administracion.develcom.com/AdministracionAgregar/agregarPerfilResponse" message="tns:agregarPerfilResponse" />
</operation>
</portType>
<binding name="AdministracionAgregarPortBinding" type="tns:AdministracionAgregar">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="agregarLibreria">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="agregarCategoria">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="agregarSubCategoria">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="agregarTipoDocumento">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="agregarIndices">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="agregarListaDesplegables">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="agregarIndiceDatoAdicional">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="agregarPerfil">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="AdministracionAgregar">
<port name="AdministracionAgregarPort" binding="tns:AdministracionAgregarPortBinding">
<soap:address location="http://localhost:8080/DW4JServicios/AdministracionAgregar" />
</port>
</service>
</definitions>