DW4JLib/src/META-INF/wsdl/localhost_8080/DW4JServicios/Autentica.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://autentica.develcom.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://autentica.develcom.com/" name="Autentica">
<types>
<xsd:schema>
<xsd:import namespace="http://autentica.develcom.com/" schemaLocation="http://localhost:8080/DW4JServicios/Autentica?xsd=1" />
</xsd:schema>
</types>
<message name="crearSesion">
<part name="parameters" element="tns:crearSesion" />
</message>
<message name="crearSesionResponse">
<part name="parameters" element="tns:crearSesionResponse" />
</message>
<message name="autocompletar">
<part name="parameters" element="tns:autocompletar" />
</message>
<message name="autocompletarResponse">
<part name="parameters" element="tns:autocompletarResponse" />
</message>
<message name="buscarLibreriaCategoriasPerfil">
<part name="parameters" element="tns:buscarLibreriaCategoriasPerfil" />
</message>
<message name="buscarLibreriaCategoriasPerfilResponse">
<part name="parameters" element="tns:buscarLibreriaCategoriasPerfilResponse" />
</message>
<message name="buscarLibreriaCategoriasIndicePerfil">
<part name="parameters" element="tns:buscarLibreriaCategoriasIndicePerfil" />
</message>
<message name="buscarLibreriaCategoriasIndicePerfilResponse">
<part name="parameters" element="tns:buscarLibreriaCategoriasIndicePerfilResponse" />
</message>
<message name="verificarUsuario">
<part name="parameters" element="tns:verificarUsuario" />
</message>
<message name="verificarUsuarioResponse">
<part name="parameters" element="tns:verificarUsuarioResponse" />
</message>
<portType name="Autentica">
<operation name="crearSesion">
<input wsam:Action="http://autentica.develcom.com/Autentica/crearSesionRequest" message="tns:crearSesion" />
<output wsam:Action="http://autentica.develcom.com/Autentica/crearSesionResponse" message="tns:crearSesionResponse" />
</operation>
<operation name="autocompletar">
<input wsam:Action="http://autentica.develcom.com/Autentica/autocompletarRequest" message="tns:autocompletar" />
<output wsam:Action="http://autentica.develcom.com/Autentica/autocompletarResponse" message="tns:autocompletarResponse" />
</operation>
<operation name="buscarLibreriaCategoriasPerfil">
<input wsam:Action="http://autentica.develcom.com/Autentica/buscarLibreriaCategoriasPerfilRequest" message="tns:buscarLibreriaCategoriasPerfil" />
<output wsam:Action="http://autentica.develcom.com/Autentica/buscarLibreriaCategoriasPerfilResponse" message="tns:buscarLibreriaCategoriasPerfilResponse" />
</operation>
<operation name="buscarLibreriaCategoriasIndicePerfil">
<input wsam:Action="http://autentica.develcom.com/Autentica/buscarLibreriaCategoriasIndicePerfilRequest" message="tns:buscarLibreriaCategoriasIndicePerfil" />
<output wsam:Action="http://autentica.develcom.com/Autentica/buscarLibreriaCategoriasIndicePerfilResponse" message="tns:buscarLibreriaCategoriasIndicePerfilResponse" />
</operation>
<operation name="verificarUsuario">
<input wsam:Action="http://autentica.develcom.com/Autentica/verificarUsuarioRequest" message="tns:verificarUsuario" />
<output wsam:Action="http://autentica.develcom.com/Autentica/verificarUsuarioResponse" message="tns:verificarUsuarioResponse" />
</operation>
</portType>
<binding name="AutenticaPortBinding" type="tns:Autentica">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="crearSesion">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="autocompletar">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="buscarLibreriaCategoriasPerfil">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="buscarLibreriaCategoriasIndicePerfil">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="verificarUsuario">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="Autentica">
<port name="AutenticaPort" binding="tns:AutenticaPortBinding">
<soap:address location="http://localhost:8080/DW4JServicios/Autentica" />
</port>
</service>
</definitions>