DW4JLib/src/META-INF/wsdl/localhost_8080/DW4JServicios/Autentica.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://autentica.develcom.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://autentica.develcom.com/">

<xs:element name="autocompletar" type="tns:autocompletar" />

<xs:element name="autocompletarResponse" type="tns:autocompletarResponse" />

<xs:element name="buscarLibreriaCategoriasIndicePerfil" type="tns:buscarLibreriaCategoriasIndicePerfil" />

<xs:element name="buscarLibreriaCategoriasIndicePerfilResponse" type="tns:buscarLibreriaCategoriasIndicePerfilResponse" />

<xs:element name="buscarLibreriaCategoriasPerfil" type="tns:buscarLibreriaCategoriasPerfil" />

<xs:element name="buscarLibreriaCategoriasPerfilResponse" type="tns:buscarLibreriaCategoriasPerfilResponse" />

<xs:element name="crearSesion" type="tns:crearSesion" />

<xs:element name="crearSesionResponse" type="tns:crearSesionResponse" />

<xs:element name="verificarUsuario" type="tns:verificarUsuario" />

<xs:element name="verificarUsuarioResponse" type="tns:verificarUsuarioResponse" />

<xs:complexType name="autocompletar">
<xs:sequence />
</xs:complexType>

<xs:complexType name="autocompletarResponse">
<xs:sequence>
<xs:element name="return" type="tns:usuario" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="usuario">
<xs:sequence>
<xs:element name="apellido" type="xs:string" minOccurs="0" />
<xs:element name="cedula" type="xs:string" minOccurs="0" />
<xs:element name="estatus" type="xs:string" minOccurs="0" />
<xs:element name="idEstatus" type="xs:int" />
<xs:element name="idUsuario" type="xs:string" minOccurs="0" />
<xs:element name="nombre" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarLibreriaCategoriasIndicePerfil">
<xs:sequence>
<xs:element name="usuario" type="xs:string" minOccurs="0" />
<xs:element name="perfil" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarLibreriaCategoriasIndicePerfilResponse">
<xs:sequence>
<xs:element name="return" type="tns:perfil" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="perfil">
<xs:sequence>
<xs:element name="categoria" type="tns:categoria" minOccurs="0" />
<xs:element name="estatus" type="xs:int" />
<xs:element name="fabrica" type="tns:fabrica" minOccurs="0" />
<xs:element name="indice" type="tns:indice" minOccurs="0" />
<xs:element name="libreria" type="tns:libreria" minOccurs="0" />
<xs:element name="rol" type="tns:rol" minOccurs="0" />
<xs:element name="subCategoria" type="tns:subCategoria" minOccurs="0" />
<xs:element name="tipoDocumento" type="tns:tipoDocumento" minOccurs="0" />
<xs:element name="usuario" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="categoria">
<xs:sequence>
<xs:element name="categoria" type="xs:string" minOccurs="0" />
<xs:element name="estatus" type="xs:string" minOccurs="0" />
<xs:element name="idCategoria" type="xs:int" />
<xs:element name="lstIndices" type="tns:indice" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="indice">
<xs:complexContent>
<xs:extension base="tns:indices">
<xs:sequence>
<xs:element name="updateIndices" type="xs:boolean" />
<xs:element name="valor" type="xs:anyType" minOccurs="0" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="indices">
<xs:sequence>
<xs:element name="clave" type="xs:string" minOccurs="0" />
<xs:element name="codigo" type="xs:int" />
<xs:element name="idCategoria" type="xs:int" />
<xs:element name="idIndice" type="xs:int" />
<xs:element name="indice" type="xs:string" minOccurs="0" />
<xs:element name="tipo" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="fabrica">
<xs:sequence>
<xs:element name="pertenece" type="xs:boolean" />
<xs:element name="usuario" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="libreria">
<xs:sequence>
<xs:element name="descripcion" type="xs:string" minOccurs="0" />
<xs:element name="estatus" type="xs:string" minOccurs="0" />
<xs:element name="idLibreria" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="rol">
<xs:sequence>
<xs:element name="idRol" type="xs:int" />
<xs:element name="rol" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="subCategoria">
<xs:sequence>
<xs:element name="estatus" type="xs:string" minOccurs="0" />
<xs:element name="idCategoria" type="xs:int" />
<xs:element name="idSubCategoria" type="xs:int" />
<xs:element name="listaTipoDocumentos" type="tns:tipoDocumento" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="subCategoria" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="tipoDocumento">
<xs:sequence>
<xs:element name="datoAdicional" type="xs:string" minOccurs="0" />
<xs:element name="estatus" type="xs:string" minOccurs="0" />
<xs:element name="ficha" type="xs:string" minOccurs="0" />
<xs:element name="idCategoria" type="xs:int" />
<xs:element name="idSubCategoria" type="xs:int" />
<xs:element name="idTipoDocumento" type="xs:int" />
<xs:element name="tipoDocumento" type="xs:string" minOccurs="0" />
<xs:element name="vencimiento" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="verificarUsuario">
<xs:sequence>
<xs:element name="login" type="xs:string" minOccurs="0" />
<xs:element name="password" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="verificarUsuarioResponse">
<xs:sequence>
<xs:element name="return" type="tns:sesion" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="sesion">
<xs:sequence>
<xs:element name="categoria" type="tns:categoria" minOccurs="0" />
<xs:element name="configuracion" type="tns:configuracion" minOccurs="0" />
<xs:element name="estatusUsuario" type="xs:string" minOccurs="0" />
<xs:element name="fabrica" type="tns:fabrica" minOccurs="0" />
<xs:element name="fechaHora" type="xs:string" minOccurs="0" />
<xs:element name="IP" type="xs:string" minOccurs="0" />
<xs:element name="idSession" type="xs:string" minOccurs="0" />
<xs:element name="idUsuario" type="xs:string" minOccurs="0" />
<xs:element name="libreria" type="tns:libreria" minOccurs="0" />
<xs:element name="respuesta" type="xs:string" minOccurs="0" />
<xs:element name="rolUsuario" type="tns:rol" minOccurs="0" />
<xs:element name="verificar" type="xs:string" minOccurs="0" />
<xs:element name="web" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="configuracion">
<xs:sequence>
<xs:element name="calidadActivo" type="xs:boolean" />
<xs:element name="databaseName" type="xs:string" minOccurs="0" />
<xs:element name="elimina" type="xs:boolean" />
<xs:element name="fabrica" type="xs:boolean" />
<xs:element name="ficha" type="xs:boolean" />
<xs:element name="fileCode" type="xs:string" minOccurs="0" />
<xs:element name="fileTif" type="xs:string" minOccurs="0" />
<xs:element name="foliatura" type="xs:boolean" />
<xs:element name="ldap" type="xs:boolean" />
<xs:element name="logProperties" type="xs:string" minOccurs="0" />
<xs:element name="password" type="xs:string" minOccurs="0" />
<xs:element name="pathTmp" type="xs:string" minOccurs="0" />
<xs:element name="port" type="xs:int" />
<xs:element name="serverName" type="xs:string" minOccurs="0" />
<xs:element name="user" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarLibreriaCategoriasPerfil">
<xs:sequence>
<xs:element name="usuario" type="xs:string" minOccurs="0" />
<xs:element name="perfil" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarLibreriaCategoriasPerfilResponse">
<xs:sequence>
<xs:element name="return" type="tns:perfil" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="crearSesion">
<xs:sequence>
<xs:element name="usuario" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="crearSesionResponse">
<xs:sequence>
<xs:element name="return" type="tns:sesion" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>
</xs:schema>