DW4JLib/src/META-INF/wsdl/localhost_8080/DW4JServicios/CalidadDocumento.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://calidad.develcom.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://calidad.develcom.com/" name="CalidadDocumento">
<types>
<xsd:schema>
<xsd:import namespace="http://calidad.develcom.com/" schemaLocation="http://localhost:8080/DW4JServicios/CalidadDocumento?xsd=1" />
</xsd:schema>
</types>
<message name="buscarExpedientesPendientes">
<part name="parameters" element="tns:buscarExpedientesPendientes" />
</message>
<message name="buscarExpedientesPendientesResponse">
<part name="parameters" element="tns:buscarExpedientesPendientesResponse" />
</message>
<message name="aprobarDocumento">
<part name="parameters" element="tns:aprobarDocumento" />
</message>
<message name="aprobarDocumentoResponse">
<part name="parameters" element="tns:aprobarDocumentoResponse" />
</message>
<message name="buscarCausasRechazo">
<part name="parameters" element="tns:buscarCausasRechazo" />
</message>
<message name="buscarCausasRechazoResponse">
<part name="parameters" element="tns:buscarCausasRechazoResponse" />
</message>
<message name="rechazarDocumento">
<part name="parameters" element="tns:rechazarDocumento" />
</message>
<message name="rechazarDocumentoResponse">
<part name="parameters" element="tns:rechazarDocumentoResponse" />
</message>
<portType name="CalidadDocumento">
<operation name="buscarExpedientesPendientes">
<input wsam:Action="http://calidad.develcom.com/CalidadDocumento/buscarExpedientesPendientesRequest" message="tns:buscarExpedientesPendientes" />
<output wsam:Action="http://calidad.develcom.com/CalidadDocumento/buscarExpedientesPendientesResponse" message="tns:buscarExpedientesPendientesResponse" />
</operation>
<operation name="aprobarDocumento">
<input wsam:Action="http://calidad.develcom.com/CalidadDocumento/aprobarDocumentoRequest" message="tns:aprobarDocumento" />
<output wsam:Action="http://calidad.develcom.com/CalidadDocumento/aprobarDocumentoResponse" message="tns:aprobarDocumentoResponse" />
</operation>
<operation name="buscarCausasRechazo">
<input wsam:Action="http://calidad.develcom.com/CalidadDocumento/buscarCausasRechazoRequest" message="tns:buscarCausasRechazo" />
<output wsam:Action="http://calidad.develcom.com/CalidadDocumento/buscarCausasRechazoResponse" message="tns:buscarCausasRechazoResponse" />
</operation>
<operation name="rechazarDocumento">
<input wsam:Action="http://calidad.develcom.com/CalidadDocumento/rechazarDocumentoRequest" message="tns:rechazarDocumento" />
<output wsam:Action="http://calidad.develcom.com/CalidadDocumento/rechazarDocumentoResponse" message="tns:rechazarDocumentoResponse" />
</operation>
</portType>
<binding name="CalidadDocumentoPortBinding" type="tns:CalidadDocumento">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="buscarExpedientesPendientes">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="aprobarDocumento">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="buscarCausasRechazo">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="rechazarDocumento">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="CalidadDocumento">
<port name="CalidadDocumentoPort" binding="tns:CalidadDocumentoPortBinding">
<soap:address location="http://localhost:8080/DW4JServicios/CalidadDocumento" />
</port>
</service>
</definitions>