DW4JLib/xml-resources/web-service-references/EliminaDocumento/wsdl/localhost_8080/DW4JServicios/EliminaDocumento.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://elimina.develcom.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://elimina.develcom.com/" name="EliminaDocumento">
<types>
<xsd:schema>
<xsd:import namespace="http://elimina.develcom.com/" schemaLocation="http://localhost:8080/DW4JServicios/EliminaDocumento?xsd=1" />
</xsd:schema>
</types>
<message name="eliminarDocumento">
<part name="parameters" element="tns:eliminarDocumento" />
</message>
<message name="eliminarDocumentoResponse">
<part name="parameters" element="tns:eliminarDocumentoResponse" />
</message>
<message name="buscarInfoDocuEliminado">
<part name="parameters" element="tns:buscarInfoDocuEliminado" />
</message>
<message name="buscarInfoDocuEliminadoResponse">
<part name="parameters" element="tns:buscarInfoDocuEliminadoResponse" />
</message>
<message name="buscarImagenDocumento">
<part name="parameters" element="tns:buscarImagenDocumento" />
</message>
<message name="buscarImagenDocumentoResponse">
<part name="parameters" element="tns:buscarImagenDocumentoResponse" />
</message>
<portType name="EliminaDocumento">
<operation name="eliminarDocumento">
<input wsam:Action="http://elimina.develcom.com/EliminaDocumento/eliminarDocumentoRequest" message="tns:eliminarDocumento" />
<output wsam:Action="http://elimina.develcom.com/EliminaDocumento/eliminarDocumentoResponse" message="tns:eliminarDocumentoResponse" />
</operation>
<operation name="buscarInfoDocuEliminado">
<input wsam:Action="http://elimina.develcom.com/EliminaDocumento/buscarInfoDocuEliminadoRequest" message="tns:buscarInfoDocuEliminado" />
<output wsam:Action="http://elimina.develcom.com/EliminaDocumento/buscarInfoDocuEliminadoResponse" message="tns:buscarInfoDocuEliminadoResponse" />
</operation>
<operation name="buscarImagenDocumento">
<input wsam:Action="http://elimina.develcom.com/EliminaDocumento/buscarImagenDocumentoRequest" message="tns:buscarImagenDocumento" />
<output wsam:Action="http://elimina.develcom.com/EliminaDocumento/buscarImagenDocumentoResponse" message="tns:buscarImagenDocumentoResponse" />
</operation>
</portType>
<binding name="EliminaDocumentoPortBinding" type="tns:EliminaDocumento">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="eliminarDocumento">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="buscarInfoDocuEliminado">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="buscarImagenDocumento">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="EliminaDocumento">
<port name="EliminaDocumentoPort" binding="tns:EliminaDocumentoPortBinding">
<soap:address location="http://localhost:8080/DW4JServicios/EliminaDocumento" />
</port>
</service>
</definitions>