DW4JLib/xml-resources/web-service-references/BusquedaExpediente/wsdl/localhost_8080/DW4JServicios/BusquedaExpediente.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://expediente.develcom.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://expediente.develcom.com/">

<xs:element name="buscarExpedienteDinamico" type="tns:buscarExpedienteDinamico" />

<xs:element name="buscarExpedienteDinamicoResponse" type="tns:buscarExpedienteDinamicoResponse" />

<xs:element name="buscarExpedienteGenerico" type="tns:buscarExpedienteGenerico" />

<xs:element name="buscarExpedienteGenericoResponse" type="tns:buscarExpedienteGenericoResponse" />

<xs:element name="buscarFicha" type="tns:buscarFicha" />

<xs:element name="buscarFichaResponse" type="tns:buscarFichaResponse" />

<xs:element name="buscarSubCategorias" type="tns:buscarSubCategorias" />

<xs:element name="buscarSubCategoriasResponse" type="tns:buscarSubCategoriasResponse" />

<xs:element name="buscarTipoDocumento" type="tns:buscarTipoDocumento" />

<xs:element name="buscarTipoDocumentoResponse" type="tns:buscarTipoDocumentoResponse" />

<xs:complexType name="buscarFicha">
<xs:sequence>
<xs:element name="idExpediente" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarFichaResponse">
<xs:sequence>
<xs:element name="return" type="tns:infoDocumento" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="infoDocumento">
<xs:sequence>
<xs:element name="cantPaginas" type="xs:int" />
<xs:element name="causaRechazo" type="xs:string" minOccurs="0" />
<xs:element name="datoAdicional" type="xs:string" minOccurs="0" />
<xs:element name="estatus" type="xs:int" />
<xs:element name="estatusDocumento" type="xs:string" minOccurs="0" />
<xs:element name="fechaActual" type="xs:dateTime" minOccurs="0" />
<xs:element name="fechaAprobacion" type="xs:dateTime" minOccurs="0" />
<xs:element name="fechaDigitalizacion" type="xs:dateTime" minOccurs="0" />
<xs:element name="fechaRechazo" type="xs:dateTime" minOccurs="0" />
<xs:element name="fechaVencimiento" type="xs:dateTime" minOccurs="0" />
<xs:element name="folio" type="xs:int" />
<xs:element name="formato" type="xs:string" minOccurs="0" />
<xs:element name="idDocumento" type="xs:int" />
<xs:element name="idExpediente" type="xs:string" minOccurs="0" />
<xs:element name="idInfoDocumento" type="xs:int" />
<xs:element name="lsDatosAdicionales" type="tns:datoAdicional" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="motivoRechazo" type="xs:string" minOccurs="0" />
<xs:element name="nombreArchivo" type="xs:string" minOccurs="0" />
<xs:element name="nuevo" type="xs:boolean" />
<xs:element name="numeroDocumento" type="xs:int" />
<xs:element name="reDigitalizo" type="xs:boolean" />
<xs:element name="rutaArchivo" type="xs:string" minOccurs="0" />
<xs:element name="tipoDocDatoAdicional" type="xs:boolean" />
<xs:element name="tipoDocumento" type="xs:string" minOccurs="0" />
<xs:element name="usuarioAprobacion" type="xs:string" minOccurs="0" />
<xs:element name="usuarioDigitalizo" type="xs:string" minOccurs="0" />
<xs:element name="usuarioRechazo" type="xs:string" minOccurs="0" />
<xs:element name="version" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="datoAdicional">
<xs:sequence>
<xs:element name="codigo" type="xs:int" />
<xs:element name="idDatoAdicional" type="xs:int" />
<xs:element name="idTipoDocumento" type="xs:int" />
<xs:element name="idValor" type="xs:int" />
<xs:element name="indiceDatoAdicional" type="xs:string" minOccurs="0" />
<xs:element name="numeroDocumento" type="xs:int" />
<xs:element name="tipo" type="xs:string" minOccurs="0" />
<xs:element name="valor" type="xs:anyType" minOccurs="0" />
<xs:element name="version" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarExpedienteGenerico">
<xs:sequence>
<xs:element name="listaIndice" type="tns:indice" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="idLibreria" type="xs:int" />
<xs:element name="idCategorias" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="indice">
<xs:complexContent>
<xs:extension base="tns:indices">
<xs:sequence>
<xs:element name="updateIndices" type="xs:boolean" />
<xs:element name="valor" type="xs:anyType" minOccurs="0" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="indices">
<xs:sequence>
<xs:element name="clave" type="xs:string" minOccurs="0" />
<xs:element name="codigo" type="xs:int" />
<xs:element name="idCategoria" type="xs:int" />
<xs:element name="idIndice" type="xs:int" />
<xs:element name="indice" type="xs:string" minOccurs="0" />
<xs:element name="tipo" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarExpedienteGenericoResponse">
<xs:sequence>
<xs:element name="return" type="tns:consultaDinamica" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultaDinamica">
<xs:sequence>
<xs:element name="existe" type="xs:boolean" />
<xs:element name="indices" type="tns:indice" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarTipoDocumento">
<xs:sequence>
<xs:element name="idSubCategorias" type="xs:int" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarTipoDocumentoResponse">
<xs:sequence>
<xs:element name="return" type="tns:tipoDocumento" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="tipoDocumento">
<xs:sequence>
<xs:element name="datoAdicional" type="xs:string" minOccurs="0" />
<xs:element name="estatus" type="xs:string" minOccurs="0" />
<xs:element name="ficha" type="xs:string" minOccurs="0" />
<xs:element name="idCategoria" type="xs:int" />
<xs:element name="idSubCategoria" type="xs:int" />
<xs:element name="idTipoDocumento" type="xs:int" />
<xs:element name="tipoDocumento" type="xs:string" minOccurs="0" />
<xs:element name="vencimiento" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarSubCategorias">
<xs:sequence>
<xs:element name="idCategorias" type="xs:int" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarSubCategoriasResponse">
<xs:sequence>
<xs:element name="return" type="tns:subCategoria" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="subCategoria">
<xs:sequence>
<xs:element name="estatus" type="xs:string" minOccurs="0" />
<xs:element name="idCategoria" type="xs:int" />
<xs:element name="idSubCategoria" type="xs:int" />
<xs:element name="listaTipoDocumentos" type="tns:tipoDocumento" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="subCategoria" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarExpedienteDinamico">
<xs:sequence>
<xs:element name="listaIndice" type="tns:indice" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="listaCat" type="tns:categoria" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="listaSubCat" type="tns:subCategoria" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="listaTipoDoc" type="tns:tipoDocumento" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="estatusDocumento" type="xs:int" />
<xs:element name="idLibreria" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="categoria">
<xs:sequence>
<xs:element name="categoria" type="xs:string" minOccurs="0" />
<xs:element name="estatus" type="xs:string" minOccurs="0" />
<xs:element name="idCategoria" type="xs:int" />
<xs:element name="lstIndices" type="tns:indice" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarExpedienteDinamicoResponse">
<xs:sequence>
<xs:element name="return" type="tns:consultaDinamica" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>
</xs:schema>