DW4JLib/xml-resources/web-service-references/BusquedaExpediente/wsdl/localhost_8080/DW4JServicios/BusquedaExpediente.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://expediente.develcom.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://expediente.develcom.com/" name="BusquedaExpediente">
<types>
<xsd:schema>
<xsd:import namespace="http://expediente.develcom.com/" schemaLocation="http://localhost:8080/DW4JServicios/BusquedaExpediente?xsd=1" />
</xsd:schema>
</types>
<message name="buscarSubCategorias">
<part name="parameters" element="tns:buscarSubCategorias" />
</message>
<message name="buscarSubCategoriasResponse">
<part name="parameters" element="tns:buscarSubCategoriasResponse" />
</message>
<message name="buscarExpedienteDinamico">
<part name="parameters" element="tns:buscarExpedienteDinamico" />
</message>
<message name="buscarExpedienteDinamicoResponse">
<part name="parameters" element="tns:buscarExpedienteDinamicoResponse" />
</message>
<message name="buscarTipoDocumento">
<part name="parameters" element="tns:buscarTipoDocumento" />
</message>
<message name="buscarTipoDocumentoResponse">
<part name="parameters" element="tns:buscarTipoDocumentoResponse" />
</message>
<message name="buscarExpedienteGenerico">
<part name="parameters" element="tns:buscarExpedienteGenerico" />
</message>
<message name="buscarExpedienteGenericoResponse">
<part name="parameters" element="tns:buscarExpedienteGenericoResponse" />
</message>
<message name="buscarFicha">
<part name="parameters" element="tns:buscarFicha" />
</message>
<message name="buscarFichaResponse">
<part name="parameters" element="tns:buscarFichaResponse" />
</message>
<portType name="BusquedaExpediente">
<operation name="buscarSubCategorias">
<input wsam:Action="http://expediente.develcom.com/BusquedaExpediente/buscarSubCategoriasRequest" message="tns:buscarSubCategorias" />
<output wsam:Action="http://expediente.develcom.com/BusquedaExpediente/buscarSubCategoriasResponse" message="tns:buscarSubCategoriasResponse" />
</operation>
<operation name="buscarExpedienteDinamico">
<input wsam:Action="http://expediente.develcom.com/BusquedaExpediente/buscarExpedienteDinamicoRequest" message="tns:buscarExpedienteDinamico" />
<output wsam:Action="http://expediente.develcom.com/BusquedaExpediente/buscarExpedienteDinamicoResponse" message="tns:buscarExpedienteDinamicoResponse" />
</operation>
<operation name="buscarTipoDocumento">
<input wsam:Action="http://expediente.develcom.com/BusquedaExpediente/buscarTipoDocumentoRequest" message="tns:buscarTipoDocumento" />
<output wsam:Action="http://expediente.develcom.com/BusquedaExpediente/buscarTipoDocumentoResponse" message="tns:buscarTipoDocumentoResponse" />
</operation>
<operation name="buscarExpedienteGenerico">
<input wsam:Action="http://expediente.develcom.com/BusquedaExpediente/buscarExpedienteGenericoRequest" message="tns:buscarExpedienteGenerico" />
<output wsam:Action="http://expediente.develcom.com/BusquedaExpediente/buscarExpedienteGenericoResponse" message="tns:buscarExpedienteGenericoResponse" />
</operation>
<operation name="buscarFicha">
<input wsam:Action="http://expediente.develcom.com/BusquedaExpediente/buscarFichaRequest" message="tns:buscarFicha" />
<output wsam:Action="http://expediente.develcom.com/BusquedaExpediente/buscarFichaResponse" message="tns:buscarFichaResponse" />
</operation>
</portType>
<binding name="BusquedaExpedientePortBinding" type="tns:BusquedaExpediente">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="buscarSubCategorias">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="buscarExpedienteDinamico">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="buscarTipoDocumento">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="buscarExpedienteGenerico">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="buscarFicha">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="BusquedaExpediente">
<port name="BusquedaExpedientePort" binding="tns:BusquedaExpedientePortBinding">
<soap:address location="http://localhost:8080/DW4JServicios/BusquedaExpediente" />
</port>
</service>
</definitions>